<% pdfs.each do |pdf| %>
    <% if pdf.downloaded_by?(current_user) %>
        <!-- Display the form information -->
        <% full_name = pdf.full_name %> <!-- Get the full name from the PDF model -->
        <li>
            <%= check_box_tag "selected_files[]", pdf.id %> <!-- Remove the { checked: true } option -->
            <%= "#{full_name} AMC Form #{pdf.formatted_date}.pdf" %>
            <!-- Add a link to download the form -->
            <a href="<%= download_pdf_path(pdf.id) %>" class="download-link" data-pdf-id="<%= pdf.id %>" download>Download</a>
        </li>
    <% end %>
<% end %>