<div id="<%= dom_id rvp %>">

  <p>
    <strong>First name:</strong>
    <%= rvp.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= rvp.last_name %>
  </p>

  <p>
    <strong>Solution number:</strong>
    <%= rvp.solution_number %>
  </p>

</div>
