/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */

.body_container{
    max-width: 1440px; /* Set the maximum width to 1440 pixels */
    margin: 0 auto; /* Center the container horizontally */
    box-shadow: 0 3px 4px -1px rgba(0,0,0,.25); 
}

.cursive-input {
    font-family: 'Dancing Script', cursive;
}

.page-wrapper *{
    min-width: 1400px !important;
}

@media (min-width: 1px) {
    .container {
        min-width: 1400px !important; 
        max-width: 1400px !important;
    } 
}

.acm-form-box p{
    text-wrap: none;
    white-space: nowrap;
}

.custom_container > p{
    text-wrap: none;
    white-space: nowrap;
}

@media (max-width: 1199px) {
    .custom_container {
      overflow-x: auto; /* Allows scrolling on small screens */
    }
}

.first-column {
    margin-right: 150px !important; /* or any other value that suits your design */
}
  
.second-column {
    margin-left: 150px !important; /* or any other value that suits your design */
} 